@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'IBM Plex Sans', sans-serif;
}

.img{
  background-position: center;
  background-size: cover;background-repeat: no-repeat;
}

body{
  overflow-x: hidden;
}

.shadow-x{
  text-shadow: 3px 3px black;
}

.shadow-x2{
  text-shadow: 3px 3px #DFBAB1;
}

.shadow-x3{
  text-shadow: 3px 3px white;
}

.shadow-b{
  box-shadow: -8px 8px white;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.shadow-b:hover{
  box-shadow: none;
}

.transition-x{
  transition: all 0.2s ease-in-out;
}

.transition-x2{
  transition: all 0.5s cubic-bezier(1,-0.01, 0, 1.01) ;
}

.main:hover .on-hover{
  opacity: 1;
}

@media (max-width: 639px){
  .custom-nav{
    display: none;
  }
}

@media (min-width: 640px){
  .custom-nav{
    display: fixed;
    position: absolute;
  }
}
